* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ============= common css end ========= */

/* ============ header part end ========== */

.search_input {
    position: relative;
}

.search_bar {
    position: absolute;
    right: 26px;
    bottom: 10px;
    color: gray;
    font-size: 1.2rem;
}

/* ============ header part end ========== */

#slider_part .carousel-control-prev {
    left: -22px;
}

#slider_part .carousel-item {
    background: #FEEAE9;
}

#slider_part .carousel-control-prev-icon {
    background-color: rgba(255, 19, 110, 0.671);
}

#slider_part .carousel-control-next-icon {
    background-color: rgba(255, 19, 110, 0.671);
}

.carousal_text h1 {
    color: #1F1F1F;
    font-size: 3.5rem;
}

.carousal_text h3 {
    color: #FF136F;
}

.btn_bg {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}

#slider_part .btn-primary:focus,
.btn-primary.active {
    color: #fff;
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    border-color: rgba(255, 19, 110, 0.6);
    box-shadow: 0 0 0 .25rem rgba(255, 19, 110, 0.6);
}

/* ============ slider part end ========== */
.watch_part {
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}

.bag_part {
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}

.shoes_part {
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}


/* ============ header part end ========== */
/* ============ header part end ========== */